[core]
	filemode = false
	editor = nvim
	autocrlf = input
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
	name = Mattijs Bliek
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJ6b6EVlKkmf6zBf6NkRc5pRr71YMFhc0a4qSUNiuLp0
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	type = cat-file -t
	dump = cat-file -p
	changelog = diff-tree --no-commit-id --name-only
	amend = commit --amend -C HEAD
[push]
	default = upstream
	autoSetupRemote = true
[merge]
	tool = vimdiff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rerere]
	enabled = true
[gpg]
	format = ssh
[include]
	path = ~/.gitconfig.local
[includeIf "gitdir:/Users/"]
	path = ~/.gitconfig.macos
[includeIf "gitdir:/home/"]
	path = ~/.gitconfig.linux
