snippet com "React component"
import React, { Component, PropTypes } from 'react';

class $1 extends Component {
	render() {
		return (
		);
	}
}

$1.propTypes = {
};

export default $1;
endsnippet

snippet fcom "Functional React component"
import React, { PropTypes } from 'react';

const $1 = () => (
);

$1.propTypes = {
};

export default $1;
endsnippet

